.introducao-bg {
    background-color: #333;
    margin-top: 4rem;
}

.introducao {
    padding: 60px 20px;
}

.introducao h1 {
    
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #5EEAEB;
}

.introducao p {
    max-width: 60ch;
    margin: 20px auto 50px auto;
    color: #fff;
    font-size: 1.2rem;
}

.minhas-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 2.3rem;
        text-align: start;
    }

}

@media (max-width: 400px) {
    .introducao h1 {
        font-size: 1.5rem;
    }

    .minhas-redes {
        justify-content: left;
    }
}